@media (max-width: 1600px) {
    .about-us {
        margin-bottom: 0 !important;
    }

    .about-us-photo {
        height: 535px;
        width: 700px;
        top: -114px;
    }
}

@media (max-width: 1400px) {
    nav {
        flex-wrap: wrap;
    }

    .nav-separate {
        margin: auto 20px;
    }

    .nav-contacts {}

    .footer-content {
        margin: 110px 30px 70px 30px;
        gap: 20px
    }

    .footer-copyrights {
        margin: 0px 30px;
    }

    .slider-content {
        margin: auto 160px;
    }

    .slider-dots {
        left: 160px !important;
    }

    .container {
        margin: auto 20px;
    }

    .about-us-photo {
        height: 344px;
        width: 450px;
        top: -74px;
    }
}

@media (max-width: 1300px) {
    nav {
        padding: 25px 20px 20px 20px;
    }

    .nav-contacts {
        width: 100%;
        justify-content: center;
    }

    .nav-separate {
        display: none;
    }
}

@media (max-width: 1000px) {
    nav div {
        width: 100%;
    }

    #menu {
        display: block;
        height: 0;
        overflow: hidden;
        opacity: 0;
        background-color: transparent;
        transition: .5s all;
    }

    .show-menu {
        background-color: #fff !important;
        height: 340px !important;
        opacity: 1 !important;
        padding-top: 20px;
    }

    .logo {
        display: flex;
        margin: 0;
        text-align: center;
    }

    .hamburger-btn {
        display: block;
        background-color: transparent;
        border: 0;
        margin-left: auto;
        padding: 0;
        cursor: pointer;
    }

    .nav-links {
        display: block;
        text-align: center;
    }

    .nav-link {
        padding: 10px;
        transition: .5s all;
    }

    .nav-item {
        height: 100%;
        width: 100%;
        display: block;
    }

    .nav-link:hover {
        color: #fff !important;
        border-radius: 3px !important;
        background-color: #1F3566 !important;
    }

    .nav-link:hover .nav-item {
        color: #fff !important;
    }

    .dropdown-content {
        left: 50%;
        transform: translateX(-50%);
    }

    .nav-contacts {
        display: block;
        text-align: center;
    }

    .nav-contact {
        width: 100%;
        justify-content: center;
        padding: 10px;
    }

    .footer-content {
        flex-wrap: wrap;
        gap: 50px;
        padding: 0 0 0 40px;
    }

    .footer-company {
        width: 100%;
    }

    .footer-menu {
        width: 100%;
    }

    .footer-copyrights {
        flex-wrap: wrap;
        gap: 10px;
    }

    .slider-bg {
        height: 600px;
    }

    .slider-content {
        margin: auto 20px;
    }

    .description-slider {
        width: 50%;
    }

    .slider-dots {
        left: 20px !important;
    }

    .about-us {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-us-left {
        width: 100%;
    }

    .about-us-right {
        display: block;
        z-index: 2;
    }

    .about-us-photo {
        display: none;
    }

    .about-us-photo-mobile {
        max-width: 100%;
        margin: 30px auto;
        z-index: 2;
    }
}

@media (max-width: 600px) {
    .footer-menu {
        grid-template-columns: 1fr;
    }

    .slider-bg {
        height: 500px;
    }

    .title-slider {
        font-size: 38px;
        line-height: 46px;

    }

    .subtitle-slider {
        font-size: 38px;
        line-height: 46px;
    }

    .description-slider {
        width: 100%;
    }

    .slider-separate {
        height: 100px;
    }

    .slider-dots {
        top: 93%;
    }

    .dropdown-content {
        max-width: 240px;
    }

    .title-section {
        font-size: 38px;
        line-height: 46px;

    }

    .section-separate {
        height: 50px;
    }
}

@media (max-width: 350px) {
    nav {
        padding: 25px 10px 20px 10px;
    }

    .footer-content {
        margin: 110px 10px 70px 10px;
        padding: 0 0 0 20px;
    }

    .logo img {
        max-width: 180px;
    }

    .slider-bg {
        height: 400px;
    }

    .title-slider {
        font-size: 28px;
        line-height: 36px;

    }

    .subtitle-slider {
        font-size: 28px;
        line-height: 36px;
    }

    .slider-titles {
        padding-left: 20px;
    }

    .slider-separate {
        height: 80px;
    }

    .title-section {
        font-size: 28px;
        line-height: 36px;
    }

    .section-separate {
        height: 40px;
    }
    .section-titles {
        padding-left: 20px;
    }
}