*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4B7BBE;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #245BAA;
}

.border-top {
    background-image: url(../../assets/img/border-top.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 5px;

}

header {
    max-width: 1350px;
    margin: auto;

}

nav {
    display: flex;
    align-items: center;
    padding: 25px 0 20px 0;
}

a {
    color: #000;
    text-decoration: none;
    transition: .5s all;
}

a:hover {
    color: #1F3566;
}

#menu {
    display: contents;
    z-index: 2;
}

.nav-links {
    display: flex;
    gap: 34px;
}

.nav-link {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link a:hover {
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25) !important;
    color: #1F3566;
}

.nav-separate {
    border-left: 1px solid #E0E0E0;
    height: 70px;
    margin: auto 48px;
}

.nav-contacts {
    display: flex;
    gap: 20px
}

.nav-contact {
    display: flex;
}

.nav-contact img {
    margin-right: 13px;
}

.nav-contact a {
    font-weight: bold;
    font-size: 13px;
}

.logo {
    margin-right: 51px;
}

.hamburger-btn {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    flex-wrap: wrap;
    gap: 20px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    padding: 12px 16px;
    z-index: 1;
    border-radius: 3px;
    z-index: 3;
}

.dropdown:hover .dropdown-content {
    display: flex;
    opacity: 1 !important;
    transition: .5s all;
    visibility: visible;
}

.dropdown-content a {
    width: 100%;
    padding: 10px;
    transition: .5s all;
}

.dropdown-content a:hover {
    color: #fff;
    border-radius: 3px;
    background-color: #1F3566;
}

footer {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 220px;
}

.footer-content {
    display: flex;
    border-left: 5px solid #245BAA;
    margin: 110px 160px 70px 160px;
    padding: 0 0 0 63px;
    gap: 80px;
}

.footer-company {
    width: 40%;
}

.footer-description {
    margin: 30px auto 35px auto;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}

.footer-socials {
    display: flex;
    gap: 18px;
}

.footer-menu {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    gap: 30px;
    width: 60%;
}

.footer-column-name {
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
}

.footer-separate {
    width: 15px;
    border-bottom: 1px solid #828282;
    margin: 21px 0 31px 0;
}

.footer-nav-items {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #BDBDBD;
}

.footer-nav-items a {
    color: #BDBDBD;
}

.footer-nav-items a:hover {
    color: #fff;
}

.footer-nav-items ul {
    list-style-type: square;
    padding-inline-start: 18px;
}

.footer-nav-items ul li {
    margin-bottom: 10px;
}

.footer-nav-items ul li:last-child {
    margin-bottom: 0px;
}

.footer-copyrights {
    display: flex;
    margin: 0px 160px;
    padding-bottom: 23px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #BDBDBD;
}

.footer-privace {
    color: #BDBDBD;
}

.footer-privace:hover {
    color: #fff;
}

.footer-copy {
    margin-left: auto;
    text-align: right;
}

.footer-social-media a img {
    transition: .5s all;
}

.footer-social-media a:hover img {
    filter: brightness(0) invert(1);
}

.slider {
    position: relative;
}

.slider-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    align-items: center;
}

.slider-content {
    width: 100%;
    max-width: 1350px;
    margin: auto;
}

.slider-header {
    display: flex;
    align-items: center;
}

.slider-separate {
    width: 5px;
    height: 160px;
    background-color: #4B7BBE;
}

.slider-titles {
    padding-left: 40px;
}

.title-slider {
    font-size: 52px;
    line-height: 64px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin: 0;
    font-weight: 300;
}

.subtitle-slider {
    font-size: 52px;
    line-height: 64px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin: 0;
    font-weight: 700;
}

.description-slider {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin: 30px 0;
    width: 35%;
}

.button-slider {
    display: inline-flex;
    align-items: center;
    border: 1px solid #FFFFFF;
    color: #fff;
    padding: 7px 15px;
    font-weight: 700;
    font-size: 13px;
}

.button-slider:hover {
    background-color: #fff;
    border: 1px solid #FFFFFF;
    color: #000;
}

.button-slider img {
    width: 25px !important;
    margin-right: 18px;
}

.button-slider:hover img {
    filter: invert(1);
}

.slider-dots {
    display: flex;
    gap: 20px;
    position: absolute;
    z-index: 2;
    top: 83%;
}

.slider-dot {
    border: 1px solid #4B7BBE;
    width: 5px;
    height: 5px;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.slider-dot.active {
    background-color: #fff !important;
    border: 1px solid #fff !important;
}

section {
    position: relative;
}

.about-us {
    display: flex;
    align-items: center;
    margin-bottom: 17px !important;
}

.about-us-left {
    width: 50%;
}

.about-us-right {
    display: none;
}

.container {
    max-width: 1350px;
    margin: auto;
    padding: 90px 0;
}

.section-header {
    display: flex;
    align-items: center;
}

.section-separate {
    width: 5px;
    height: 80px;
    background-color: #4B7BBE;
}

.section-titles {
    padding-left: 40px;
}

.title-section {
    font-size: 52px;
    line-height: 64px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin: 0 0 12px 0;
    font-weight: 300;
}

.subtitle-section {
    font-size: 13px;
    line-height: 19.5px;
    color: #828282;
    margin: 0;
    font-weight: 500;
}

.about-us-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin: 38px auto;
}

.button-primary {
    display: inline-flex;
    align-items: center;
    border: 1px solid #333;
    color: #333;
    padding: 7px 20px;
    font-weight: 700;
    font-size: 13px;
}

.button-primary:hover {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
}

.button-primary img {
    width: 25px !important;
    margin-right: 18px;
    filter: invert(1);
}

.button-primary:hover img {
    filter: invert(0);
}


.about-us-photo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    width: 850px;
    position: absolute;
    right: 0;
    top: -140px;
    z-index: 2;
}

.img-fluid {
    max-width: 100%;
}

.bg-grey {
    background-color: #fafafa;
    padding: 30px;
}