*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4B7BBE;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #245BAA;
}

.border-top {
    background-image: url(../../assets/img/border-top.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 5px;

}

header {
    max-width: 1350px;
    margin: auto;

}

nav {
    display: flex;
    align-items: center;
    padding: 25px 0 20px 0;
}

a {
    color: #000;
    text-decoration: none;
    transition: .5s all;
}

a:hover {
    color: #1F3566;
}

#menu {
    display: contents;
    z-index: 2;
}

.nav-links {
    display: flex;
    gap: 34px;
}

.nav-link {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link a:hover {
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25) !important;
    color: #1F3566;
}

.nav-separate {
    border-left: 1px solid #E0E0E0;
    height: 70px;
    margin: auto 48px;
}

.nav-contacts {
    display: flex;
    gap: 20px
}

.nav-contact {
    display: flex;
}

.nav-contact img {
    margin-right: 13px;
}

.nav-contact a {
    font-weight: bold;
    font-size: 13px;
}

.logo {
    margin-right: 51px;
}

.hamburger-btn {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    flex-wrap: wrap;
    gap: 20px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    padding: 12px 16px;
    z-index: 1;
    border-radius: 3px;
    z-index: 3;
}

.dropdown:hover .dropdown-content {
    display: flex;
    opacity: 1 !important;
    transition: .5s all;
    visibility: visible;
}

.dropdown-content a {
    width: 100%;
    padding: 10px;
    transition: .5s all;
}

.dropdown-content a:hover {
    color: #fff;
    border-radius: 3px;
    background-color: #1F3566;
}

footer {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 285px;
    margin-top: -285px;
}

.footer-content {
    display: flex;
    border-left: 5px solid #245BAA;
    margin: 110px 160px 70px 160px;
    padding: 0 0 0 63px;
    gap: 80px;
}

.footer-company {
    width: 40%;
}

.footer-description {
    margin: 30px auto 35px auto;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}

.footer-socials {
    display: flex;
    gap: 18px;
}

.footer-menu {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    gap: 30px;
    width: 60%;
}

.footer-column-name {
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
}

.footer-separate {
    width: 15px;
    border-bottom: 1px solid #828282;
    margin: 21px 0 31px 0;
}

.footer-nav-items {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #BDBDBD;
}

.footer-nav-items a {
    color: #BDBDBD;
}

.footer-nav-items a:hover {
    color: #fff;
}

.footer-nav-items ul {
    list-style-type: square;
    padding-inline-start: 18px;
}

.footer-nav-items ul li {
    margin-bottom: 10px;
}

.footer-nav-items ul li:last-child {
    margin-bottom: 0px;
}

.footer-copyrights {
    display: flex;
    margin: 0px 160px;
    padding-bottom: 23px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #BDBDBD;
}

.footer-privace {
    color: #BDBDBD;
}

.footer-privace:hover {
    color: #fff;
}

.footer-copy {
    margin-left: auto;
    text-align: right;
}

.footer-social-media a img {
    transition: .5s all;
}

.footer-social-media a:hover img {
    filter: brightness(0) invert(1);
}

.slider {
    position: relative;
}

.slider-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    align-items: center;
}

.slider-content {
    width: 100%;
    max-width: 1350px;
    margin: auto;
}

.slider-header {
    display: flex;
    align-items: center;
}

.slider-separate {
    width: 5px;
    height: 160px;
    background-color: #4B7BBE;
}

.slider-titles {
    padding-left: 40px;
}

.title-slider {
    font-size: 52px;
    line-height: 64px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin: 0;
    font-weight: 300;
}

.subtitle-slider {
    font-size: 52px;
    line-height: 64px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin: 0;
    font-weight: 700;
}

.description-slider {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin: 30px 0;
    width: 35%;
}

.button-slider {
    display: inline-flex;
    align-items: center;
    border: 1px solid #FFFFFF;
    color: #fff;
    padding: 7px 15px;
    font-weight: 700;
    font-size: 13px;
}

.button-slider:hover {
    background-color: #fff;
    border: 1px solid #FFFFFF;
    color: #000;
}

.button-slider img {
    width: 25px !important;
    margin-right: 18px;
}

.button-slider:hover img {
    filter: invert(1);
}

.slider-dots {
    display: flex;
    gap: 20px;
    position: absolute;
    z-index: 2;
    top: 83%;
}

.slider-dot {
    border: 1px solid #4B7BBE;
    width: 5px;
    height: 5px;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.slider-dot.active {
    background-color: #fff !important;
    border: 1px solid #fff !important;
}

section {
    position: relative;
}

.about-us {
    display: flex;
    align-items: center;
    margin-bottom: 17px !important;
}

.about-us-left {
    width: 50%;
}

.about-us-right {
    display: none;
}

.container {
    max-width: 1350px;
    margin: auto;
    padding: 90px 0;
}

.section-header {
    display: flex;
    align-items: center;
}

.section-separate {
    width: 5px;
    height: 80px;
    background-color: #4B7BBE;
}

.section-titles {
    padding-left: 40px;
}

.title-section {
    font-size: 52px;
    line-height: 64px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin: 0 0 12px 0;
    font-weight: 300;
}

.subtitle-section {
    font-size: 13px;
    line-height: 19.5px;
    color: #828282;
    margin: 0;
    font-weight: 500;
}

.about-us-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin: 38px auto;
}

.button-primary {
    display: inline-flex;
    align-items: center;
    border: 1px solid #333;
    color: #333;
    padding: 7px 20px;
    font-weight: 700;
    font-size: 13px;
}

.button-primary:hover {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
}

.button-primary img {
    width: 25px !important;
    margin-right: 18px;
    filter: invert(1);
}

.button-primary:hover img {
    filter: invert(0);
}


.about-us-photo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    width: 850px;
    position: absolute;
    right: 0;
    top: -140px;
    z-index: 2;
}

.img-fluid {
    max-width: 100%;
}

.bg-grey {
    background-color: #fafafa;
}

.section-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 108px 0 100px 0;
    gap: 100px;
}

.number-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 33.333%;
}

.number-counter {
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.number-description {
    font-size: 13px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
    width: 50%;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    position: relative;
    z-index: 2;
}

.white-bar {
    background-color: #fff;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.category-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 490px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.category-content {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 47px;
    z-index: 3;
    transition: .5s all;
}

.category-subtitle {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 4px;
}

.category-title {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 10px;
}

.category-description {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.category-details {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: .5s all;
}

.category-details ul {
    padding-inline-start: 17px;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
}

.category-details li {
    line-height: 45px;
}

.category-details li span {
    position: relative;
    left: 16px;
}

.photo-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
}

.category-mask-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background: #1F3566;
    opacity: 0;
    transition: .5s all;
}


.category:hover .category-mask-hover {
    height: 100%;
    opacity: 0.8;
}

.category:hover .category-content {
    margin-bottom: 80px;
}

.category:hover .category-details {
    opacity: 1;
    height: auto;
    margin-top: 50px;
}

.border-category {
    height: 30px;
    width: 100%;
}

.border-category-color-1 {
    background-color: #1F3566;
}

.border-category-color-2 {
    background-color: #18488A;
}

.border-category-color-3 {
    background-color: #245BAA;
}

.border-category-color-4 {
    background-color: #4B7BBE;
}

.news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    gap: 20px;
}

.news-big {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    transition: .5s all;
}

.news-content {
    z-index: 3;
    padding: 22px 34px;
}

.news-date {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.news-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    transition: .5s all;
}

.news-button {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #4B7BBE;
}

.news-button img {
    margin-left: 16px;
    transition: .5s all;
}

.news-big:hover .news-title {
    color: #4B7BBE;
}

.news-big:hover .news-button img {
    margin-left: 24px;
}

.news-small {
    display: flex;
    gap: 20px;
    align-items: center;
}

.news-right {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.news-small-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 145px;
    min-width: 200px;
    margin-right: 20px;
}

.news-date-small {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #828282;
    margin-bottom: 12px;
}

.news-title-small {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 17px;
}

.news-button-small {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #4B7BBE;
}

.news-button-small img {
    margin-left: 16px;
    transition: .5s all;
    filter: invert(1);
}

.news-small:hover .news-title-small {
    color: #4B7BBE;
}

.news-small:hover .news-button-small img {
    margin-left: 24px;
}

.team-container {
    padding-bottom: 0;
}

.team {
    position: relative;
    padding: 60px 0 30px 0px;
    z-index: 3;
}

#team-carousel {
    z-index: 3;
}

.person-bg {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 490px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    transition: .5s all;
}

.person-bg:hover .person-name {
    color: #4B7BBE;
}

.person-content {
    z-index: 3;
    padding: 27px 18px;
}

.person-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.person-subtitle {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #E0E0E0;
}

.owl-prev {
    display: none !important;
}

.owl-nav {
    position: absolute;
    top: 50%;
    right: -85px;
    transform: translateY(-50%);
}

.owl-next {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 85px !important;
    width: 85px !important;
    background-color: #245BAA !important;
    margin: 0 !important;
    border-radius: 0 !important;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
    align-items: center;
    padding-top: 117px;
    background-color: #FAFAFA;
    padding: 90px 112px 90px 64px;
    position: relative;
}

.contact-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 52px;
    line-height: 63px;
    color: #333333;
    margin: 0 0 30px 0;
}

.contact-icons {
    display: flex;
    align-items: center;
}

.contact-address {
    display: flex;
    align-items: center;
    gap: 13px;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
}

.contact-right {
}

.form {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    z-index: 2;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 11px 18px;
    border: 1px solid #E0E0E0;
    font-family: 'Montserrat', sans-serif;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

.rodo-submit {
    display: flex;
    align-items: center;
    width: 100%;
}

.rodo-submit label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #828282;
    margin-left: 13px;
}

.rodo-submit button {
    margin-left: auto;
    background-color: transparent;
    transition: .5s all;
    cursor: pointer;
}

.right-blue-square-1 {
    position: absolute;
    right: -30px;
    top: 0;
    background: #4B7BBE;
    height: calc(100% - 30px);
    width: 280px;
    z-index: 2;
    margin-top: 30px;
}

.right-blue-square-2 {
    position: absolute;
    right: 0;
    top: 0;
    background: #4B7BBE;
    height: calc(100% + 30px);
    width: 280px;
    right: -30px;
    z-index: 0;
}